[submodule "StataFileSystem"]
	path = StataFileSystem
	url = https://github.com/wbuchanan/StataFileSystem
[submodule "brewthemehelp"]
	path = brewthemehelp
	url = https://github.com/wbuchanan/brewthemehelp
[submodule "recycle"]
	path = recycle
	url = https://github.com/wbuchanan/recycle
